.pagination-origen .page-link {
  color: var(--navy);
  font-size: 13px;
  font-family: var(--font-body);
}
.pagination-origen .page-item.active .page-link {
  background-color: var(--navy);
  border-color: var(--navy);
  color: white;
}
